// https://color.adobe.com/Monii%20App-color-theme-14664852
$primary: #126873;
$secondary: #17C29B;
$tertiary: #0B877E;
$light: lighten(#89FAD4, 20%);
$dark: #001726;

$body-color: $primary;
$text-muted: $tertiary;

$font-family-base: 'Quicksand', sans-serif;
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;
$headings-font-weight: $font-weight-bold;
$enable-shadows: true;

$border-radius-sm: .25rem;
$border-radius: .5rem;
$border-radius-lg: 1rem;

$card-bg: $light;
$card-border-radius: $border-radius-lg;

$btn-border-radius-sm: 100px;
$btn-border-radius: 100px;
$btn-border-radius-lg: 100px;
$btn-white-space: nowrap;
$input-btn-padding-x-lg: 2rem;

$modal-dialog-margin: 15px;
// $enable-gradients: true;

//forms
$input-border-radius: $border-radius-sm;
$custom-select-border-radius: $border-radius-sm;