@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

@import "variables";
@import "bootstrap";
@import "mixin/reboot";

@import "custom/global";
@import "custom/buttons";
@import "custom/forms";

@import "components/header";
@import "components/set";
@import "components/timer";


// helpers
.sticky-bottom {
    @supports (position: sticky) {
        position: sticky;
        bottom: 0;
        z-index: $zindex-sticky;
    }
}
.lh-1 {
    line-height: 1 !important
}

button {
    @include reboot-button()
}


// components
.card {
    color: $body-color;
}

.list-group-item {
    color: $body-color
}




