

.series-btn {
    border-radius: $border-radius;
    background-color: $light;
    color: $primary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin-left: map-get($spacers, 3) / 2;
    margin-right: map-get($spacers, 3) / 2;


    &.active {
        background-color: $secondary;
        color: $light;
    }
}