
.timer {
    .modal{
        &-content {
            height: calc(75vw);
            width: calc(75vw);
            margin: auto;
            // border-radius: 50%;
            border-radius: $border-radius-lg;
        }

        &-body {
            margin-top: auto;
            margin-bottom: auto;
            text-align: center;
            flex: 0 1 auto;

        }
    }

    &-number {
        color: $primary;
        font-weight: 600
        // font-family: 'Roboto Slab', serif;
    }
}