.btn-primary {
    transition: all .2s ease;
    @include gradient-x($tertiary, $primary);
    border-color: transparent;
    position: relative;
    z-index: 1;

    &.btn {
        // no border in any state
        border: none;
    }

    // cannot transition background-image (gradient)
    // workaround: ::before, absolute, opacity
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        z-index: -1;
        background-color: $tertiary;
        opacity: 0;
        transition: opacity 0.2s ease;
        border-radius: $btn-border-radius;
    }

    &:hover {
        &:before {
            opacity: 1;
        }
    }

}

.btn-light {
    color: $primary
}