$superset-padding-x: map-get($spacers, 3);
$superset-padding-y: map-get($spacers, 2);

.superSet {
    // border-light border rounded p-2 mb-3
    border: $border-width solid $light;
    border-radius: $border-radius;
    padding: $superset-padding-y $superset-padding-x;
    margin-bottom: map-get($spacers, 3);

    &-delete {
        @include reboot-button();
        float: right;
        padding: $superset-padding-y $superset-padding-x;
        margin-right: -$superset-padding-x;
        margin-top: -$superset-padding-y;
    }
}